@use "variables" as *;

.custom-navbar {
  background-color: rgba(13,13,13,.95);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid $fnatic-orange;
  box-shadow: 0 4px 20px rgba(255,89,0,.2);
  padding: 1rem 0;

  .navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: $text-light !important;
    transition: .3s;

    &:hover {
      color: $fnatic-orange !important;
      transform: scale(1.05);
    }

    img {
      height: 40px;
      width: auto;
      transition: .3s;
    }
    &:hover img {
      filter: drop-shadow(0 0 10px $fnatic-orange);
    }
  }

  .nav-link {
    color: $text-gray !important;
    font-weight: 500;
    margin: 0 1rem;
    position: relative;
    transition: color .3s;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $fnatic-orange;
      transition: width .3s;
    }
    &:hover {
      color: $fnatic-orange !important;
    }
    &:hover::after {
      width: 100%;
    }
  }

  .navbar-toggler {
    border: 2px solid $fnatic-orange;
    border-radius: 5px;
    transition: .3s;

    &:hover {
      background-color: $fnatic-orange;
    }

    .navbar-toggler-icon {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(105%) contrast(105%);
    }
  }
}


